@{
    ViewData["Title"] = "لیست نفرات";
    Layout = "~/Views/Shared/_LyHome.cshtml";
}


<section class="hero text-center">
    <div class="container-sm">
        <div class="hero-inner">
            <h1 class="hero-title h2-mobile mt-0 is-revealing">
                لیست نفرات
            </h1>
        </div>


        <div class="InnerBox hero-browser">

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>نام</th>
                        <th>نام خانوادگی</th>
                        <th>کد پرسنلی</th>
                        <th>کد ملی</th>
                        <th>مدارک</th>
                        <th>عملیات</th>
                    </tr>

                </table>
            </div>

        </div>
    </div>
</section>
